@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
    --primary-color: black;
    --secondary-color: #1e1e1e;
}
/* If you do not include this then, the padding or margin size will be added on top of the border width / height */
* {
    box-sizing: border-box;
}
body {
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.search {
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: black;
}
.search:placeholder {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: center;
}

.movie {
    height: 550px;
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}
.movie-info span.orange {
    color: lightsalmon;
}
.movie-info span.red {
    color: red;
}

.overview {
    background-color: grey;
    color: black;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

#logo {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 690px) {
    body {
        font-size: 0.5rem;
    }
    #logo {
        display: none;
    }
    header {
        justify-content: flex-end;
    }
    .movie {
        height: 275px;
        width: 150px;
    }
}
